h1 {
    font-family: 'Roboto Slab', serif; 
    font-weight: 700;
    color: #e0091e; 
    text-align: center; 
    margin-bottom: 30px; 
    font-size: 2.5rem; }

body {
    background-color: #2c2c3a; 
    color: #050000; 
    font-family: 'Arial', sans-serif;
}

.navbar {
    background-color: #031527; 
}

.navbar-brand, .nav-link {
    color: #000000 !important; 
}

h1 {
    color: #000000; 
    text-align: center; 
    margin-bottom: 30px; 
}

.card {
    border: none; 
    border-radius: 10px; 
    background-color: #000000; 
}

.card-img-top {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
}

.card-body {
    color: #000000; 
}


.lateral-img {
    position: absolute;
    right: -520px; 
    top: 100px; 
    width: 800px; 
    z-index: -1; 
}